.article_service {
  margin: 2rem;
  margin-top: 6rem;
}
.article_service2{
  margin-top: 6rem;
}
.service_item img{
  width: 100%;
  max-width: 294px;
  border-radius: 10px;
}
.article_service h1{
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.article_service2 p{
  font-size: 1.6rem;
  text-align: center;
  margin: 1rem auto;
}
.service_item{
  border: 2px solid #1BA2BB;
  max-width: 317px;
  text-align: center;
  padding: 0.8rem;
  border-radius: 12px;
}
.service_item2{
  padding: 1.2rem;
  padding-bottom: 0;
}
.service_item h2{
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;

}
.service_item p{
  font-size: 1.7rem;
  font-weight: 300;
  color: #000000;
  opacity: 0.9;
}

.service_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}


.article_service2 h1{
  max-width: 300px;
  margin: 1rem auto;
}
.article_service2 p{
  max-width: 300px;
  margin-bottom: 1.4rem;
}
.service_item2 p{
  margin: 0;
}
.service_item2 p:last-of-type{
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 768px) {
  .service_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .article_service2{
    margin-top: 10rem;
  }
  .service_item img{
    width: 100%;
    max-width: 343px;
    border-radius: 10px;
  }
  .article_service h1{
    font-size: 2.5rem;
    font-weight: 600;
  }
  .service_item{
    border: 2px solid #1BA2BB;
    max-width: 371px;
    text-align: center;
    border-radius: 12px;
  }
  .service_item h2{
    font-size: 2.2rem;
    font-weight: 400;
    color: #000000;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  
  }
  .service_item p{
    font-size: 1.8rem;
    font-weight: 300;
    color: #000000;
    opacity: 0.9;
  }
  .article_service2 p{
    font-size: 2rem;
  }
  .article_service2 h1{
    max-width: 100%;
    margin: 1rem auto;
  }
  .article_service2 p{
    max-width: 700px;
    line-height: 1.4;
  }
}


@media screen and (min-width: 1024px) {
  .service_container{
    gap: 3rem;
  }
  .article_service{
    margin-top: 10rem;
  }
  .article_service2{
    margin-top: 14rem;
  }
  .service_item img{
    border-radius: 10px;
  }
  .article_service h1{
    font-size: 3rem;
  }
  .service_item{
    border: 2px solid #1BA2BB;
    border-radius: 12px;
  }
  .service_item h2{
    font-size: 2.4rem;
  
  }
  .service_item p{
    font-size: 2rem;
  }
  .article_service2 p{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}